version: '3.8'

services:
  api: 
    command: npm run dev 
    volumes: 
      - ./api:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile.dev
    command: npm start
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true